@font-face {
    font-family: 'Academic M54';
    src: url('AcademicM54.woff2') format('woff2'),
        url('AcademicM54.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

